$widescreen: $desktop;
$fullhd: $desktop;

$family-sans-serif: 'Roboto', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$family-logo: 'Space Mono', $family-sans-serif;

$body-line-height: 1.55;

$primary: #ec006d;
$purple: #a600cc;

$section-padding: 1rem 1.5rem;
