<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <section class="section mb-default-bg">
      <div class="container">
        <div class="mb-default">
          <h1 class="title mb-logo">
            <span class="mb-logo-break">Municipal Broadband</span>
            <span class="mb-logo-break">Coalition of America</span>
          </h1>
        </div>
      </div>
    </section>
    {{ content }}
    <section class="section">
      <hr>
      <div class="container">
        <div class="columns">
          <div class="column is-one-half">
            <p class="content is-small">
            <strong>Municipal Broadband Coalition of America</strong><br>
            An Oregon nonprofit corporation operating under <a href="https://www.irs.gov/charities-non-profits/other-non-profits/social-welfare-organizations">IRC section 501(c)(4)</a><br>
            <br>
            <a href="mailto:info@mbcoa.org">info@mbcoa.org</a>
            </p>
          </div>
          <div class="column">
            <ul class="content is-small">
              <li><a href="{{ '/terms.html' | prepend: site.baseurl }}">Terms of Use</a></li>
              <li><a href="{{ '/privacy.html' | prepend: site.baseurl }}">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
